extends .layout

block content
	include includes/subheader
	include includes/breadcrumbs
	.workflow
		.wrapper
			.inner-wrapper
				.gallery
					ul.gallery-holder
						li
							a(href="#")
								img(src="img/cam4.png", alt="")
						li
							a(href="#")
								img(src="img/cam4.png", alt="")
						li
							a(href="#")
								img(src="img/cam4.png", alt="")
						li
							a(href="#")
								img(src="img/cam4.png", alt="")
						img(src="img/sven.png", alt="").brand-img
				.item-info
					h2.item-name
						|Веб-камера Sven IC-720 640x480 Mic USB 2.0
					.inner-wrapper
						.item-price
							| 520 Р
						a(href="http://", target="_blank").add-to-cart
							| Добавить в корзину
					.inner-wrapper
						ul.characters
							li
								|Число мегапикселей матрицы: 0.3 МП
							li
								|Тип матрицы: CMOS
							li
								|Максимальная частота кадров: 30 кадр/с
							li
								|Поддержка режимов: 640x480 @ 30 Гц
							li
								|Разрешение (видео): 640x480
							li
								|Интерполированное разрешение (фото): 3200x2400
							li
								|Фокусировка: ручная
						p.item-article
							|Код товара: <span>948475634850</span>
					.inner-wrapper
						#tabs
							ul
								li
									a(href="#tabs-1")
										|ОПИСАНИЕ
								li
									a(href="#tabs-2")
										|ХАРАКТЕРИСТИКА
								li
									a(href="#tabs-3")
										|ОТЗЫВЫ (3)
								li
									a(href="#tabs-4")
										|КОММЕНТАРИИ (3)
								li
									a(href="#tabs-5")
										|ОБЗОРЫ
							#tabs-1
								p
									|Sven IC-720 позволяет передавать изображение хорошего качества с большой скоростью и без задержек. Она подойдет большинству пользователей и обеспечит вам качественные разговоры с собеседниками благодаря камере 0.3 МП. В данной модели имеется встроенный микрофон, что позволит разговаривать без специальных наушников, фокусировку можно настроить по своему желанию вручную. К компьютеру камера Sven IC-720 подключается с помощью USB 2.0.
							#tabs-2
								p
									|Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
							#tabs-3
								p
									|Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
							#tabs-4
								p
									|P
							#tabs-5
								p
									|P
					.inner-wrapper
						ul.links
							li
								a(href="#").facebook
									|Like
							li
								a(href="#").vkontakte
									|Нравится
							li
								a(href="#").twitter
									|Tweet
							li
								a(href="#").other
									|Ссылка
			.items-with
				p.item-header
					| похожие товары
				ul
					li
						a(href="#")
							img(src="img/cam4.png", alt="")
						a(href="http://", target="_blank")
							|Веб-камера <br/>DNS-0306ABS
						p.price-other
							|520 Р		
					li
						a(href="#")
							img(src="img/cam4.png", alt="")
						a(href="http://", target="_blank")
							|Веб-камера <br/>DNS-0306ABS 
						p.price-other
							|520 Р
					li
						a(href="#")
							img(src="img/cam4.png", alt="")
						a(href="http://", target="_blank")
							|Веб-камера <br/>DNS-0306ABS 
						p.price-other
							|520 Р
					li
						a(href="#")
							img(src="img/cam4.png", alt="")
						a(href="http://", target="_blank")
							|Веб-камера <br/>DNS-0306ABS 
						p.price-other
							|520 Р
					li
						a(href="#")
							img(src="img/cam4.png", alt="")
						a(href="http://", target="_blank")
							|Веб-камера <br/>DNS-0306ABS 
						p.price-other
							|520 Р
			.white-space