footer
	.wrapper
		.logo
			img(src="img/logo-footer.png", alt="logo")
			p
				|ООО «НЭТ-НОРД» Все права защищены
		.contacts
			.telephone
				p
					|8-800-200-80-30
				p 
					|+7 (495) 345-45-46
				p
					a(href="mailto:info@netnord.com")
						|info@netnord.com
			.address
				p
					|41540, Московская область, пгт. Поварово, ул. Ленинградская, д.2А, офис 14
				p
					|НЭТ-НОРД <br/>
					|ваша безопасность — наша работа