header
    .wrapper
        .logo
            img(src="img/logo.png", alt="NetNord")
        nav
            menu
                li
                    a(href="#")
                        |о компании
                li
                    a(href="#")
                        |магазин
                li
                    a(href="#")
                        |подключение
                li
                    a(href="#")
                        |готовые решения
                li
                    a(href="#")
                        |тарифы
                li
                    a(href="#")
                        |контакты
        .login
            a(href="#")
                |Личный кабинет